.formContainer{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}
form.forms{
  display: flex;
  flex-direction: column;
}

  /* .botao{
    width: 156px;
    height: 38px;
    margin-top: 15px;
    color: bisque;
    background-color: rgba(185, 39, 39, 0.644);
    border-radius: 6px;
  }
  
  .botao:hover{
    color: black;
    width: 166px;
    height: 48px;
    transition: 1.5s;
  }  */